@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
html,body {
  padding: 0;
  margin: 0;
}


body {
  height: 100%;
  min-height:100vh;
  color: #333333;
  background-color: #f0f2f5;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html {
  height: 100%;
  box-sizing: border-box;
}


*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// 单行文字省略号
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.wrap-outer {
  width: 100%;
  padding-left: calc(100vw - 100%);
}

.wrap-inner {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
